  <!-- Costos -->
  <div style="overflow-x:auto;" class="form-control mt-5">
    <table class="table-bordered text-center table table-responsive caption-top" id="TableCostos" style="background-color: #f2f6fcd8">
        <caption><h4>Costos</h4></caption>
            <tr class="table text">
            <td scope="col">Recurso</td>
            <td scope="col">Total</td>
            </tr>
            <tr>
                <td scope="row">Total</td>
                <td><input readonly value="0" type="number" class="form-control total-total-costos-r" step="any"></td>
            </tr>
    </table>
</div>