 <!-- Costos Administrativos -->
 <div style="overflow-x:auto;" class="form-control mt-5">
    <table class="table-bordered table text-center  table-responsive caption-top"style="background-color: #f2f6fcd8" id="TableAdministrativos">
        <caption><h4>Costos Administrativos</h4></caption>
            <tr class="table text">
            <td scope="col">Concepto</td>
            <td scope="col">Opciones</td>
            <td scope="col">Total</td>
            <td scope="col">Eliminar</td>
            </tr>
            <tr>
                <td scope="row">Total</td>
                <td></td>
                <td><input readonly value="0" type="number" class="form-control total-total-admon" step="any"></td>
                <td></td>
            </tr>
    </table>
    <a class="btn btn-success" id="agregarAdmin">Agregar Fila</a>
</div>