<div class="container">
        <div class="form-control mt-5">
            <div style="overflow-x:auto " >
                <caption><h4>Resumen Financiero</h4></caption>
                <table class="text-center table table-responsive caption-top "style="background-color: #f2f6fcd8">
                        <tr class="text ">
                            <td scope="col">Ventas</td>
                            <td scope="col">Costos</td>
                            <td scope="col">Margen</td>
                            <td scope="col">%</td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <input class="form-control financiero-ventas" type="text" readonly>
                            </td>
                            <td>
                                <input class="form-control financiero-costos" type="text" readonly>
                            </td>
                            <td>
                                <input class="form-control financiero-margen" type="text" readonly>
                            </td>
                            <td>
                                <input class="form-control financiero-porcentaje" type="text" readonly>
                            </td>
                        </tr>
                </table>
            </div>
        </div>
</div>
