<%- include("includes/headerLogin") %>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
         
      
          <!-- Login Form -->
          <form id="formLogin" method="POST">
            <input required type="text" id="nombres" class="fadeIn second" name="login" placeholder="Nombre(s)">
            <input required type="text" id="apellidos" class="fadeIn second" name="login" placeholder="Apellidos">
            <input required type="text" id="usuario" class="fadeIn second" name="login" placeholder="Usuario">
            <input required type="email" id="email" class="fadeIn second" name="login" placeholder="Correo">
            <input required type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
            <input type="submit" class="fadeIn fourth" value="Crear Cuenta">
            <div class="text-muted text-center mb-4">¿Ya tienes cuenta? <a class="btn btn-secondary" href="/login">Inicia Sesión</a></div>
          </form>
      
        </div>
    </div>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="js/registroUsuario.js"></script>
</body>
</html>